  
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="dashboard.html"><img style="height: 50px !important;" src="/images/logo_vnpt.png" class="mr-2" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="dashboard.html"><img src="images/favicon-vnpt.ico" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end" style="padding-left: 0px !important;">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb" id="breadcrumb" style="margin-top: revert;"></ol>
        </nav>

        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item breadcrumb">
            <a class="nav-link breadcrumb-item" href="#" id="loggedInUser"></a>
          </li>

          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <i class="fa-regular fa-user" style="font-size: 22px;"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" role="button" id="change-password">
                <i class="ti-key text-primary mr-2"></i>Đổi mật khẩu
              </a>
              <a class="dropdown-item" role="button" id="logoutBtn">
                <i class="ti-power-off text-primary mr-2"></i>Đăng xuất
              </a>
            </div>
          </li>
        </ul>

        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>

      </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="js/pages/navbar.js"></script>
