<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-basic"
        aria-expanded="false"
        aria-controls="ui-basic"
      >
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">UI Elements</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/pages/ui-features/buttons.html"
              >Buttons</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/ui-features/dropdowns.html"
              >Dropdowns</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/ui-features/typography.html"
              >Typography</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#form-elements"
        aria-expanded="false"
        aria-controls="form-elements"
      >
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Form elements</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="form-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/pages/forms/basic_elements.html"
              >Basic Elements</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#charts"
        aria-expanded="false"
        aria-controls="charts"
      >
        <i class="icon-bar-graph menu-icon"></i>
        <span class="menu-title">Charts</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="charts">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/pages/charts/chartjs.html">ChartJs</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#tables"
        aria-expanded="false"
        aria-controls="tables"
      >
        <i class="icon-grid-2 menu-icon"></i>
        <span class="menu-title">Tables</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="tables">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/pages/tables/basic-table.html"
              >Basic table</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#icons"
        aria-expanded="false"
        aria-controls="icons"
      >
        <i class="icon-contract menu-icon"></i>
        <span class="menu-title">Icons</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="icons">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/pages/icons/mdi.html">Mdi icons</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#auth"
        aria-expanded="false"
        aria-controls="auth"
      >
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">User Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/pages/samples/login.html"> Login </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/samples/register.html">
              Register
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#error"
        aria-expanded="false"
        aria-controls="error"
      >
        <i class="icon-ban menu-icon"></i>
        <span class="menu-title">Error Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="error">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/pages/samples/error-404.html"> 404 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/samples/error-500.html"> 500 </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pages/documentation/documentation.html">
        <i class="icon-paper menu-icon"></i>
        <span class="menu-title">Documentation</span>
      </a>
    </li>

    <!-- QUẢN LÝ QUỸ -->
    <li class="nav-item" id="fund" hidden>

      <a class="nav-link" data-toggle="collapse" href="#funds" aria-expanded="false" aria-controls="funds" >
        <i class="icon-archive menu-icon"></i>
        <span class="menu-title">Quản lý quỹ</span>
        <i class="menu-arrow"></i>
      </a>

      <div class="collapse" id="funds">
        <ul class="nav flex-column sub-menu" id="fund-management" hidden>
          <li class="nav-item">
            <a class="nav-link" href="fund-management.html">Thông tin quỹ</a>
          </li>
        </ul>

        <ul class="nav flex-column sub-menu" id="fund-permission" hidden>
          <li class="nav-item">
            <a class="nav-link" href="fund-permission.html">Phân quyền giao dịch</a>
          </li>
        </ul>
      </div>
      
    </li>

    <!-- QUẢN LÝ GIAO DỊCH -->
    <li class="nav-item" id="transaction" hidden>

      <a class="nav-link" data-toggle="collapse" href="#transactions" aria-expanded="false" aria-controls="transactions" >
        <i class="mdi mdi-library-books menu-icon"></i>
        <span class="menu-title">Quản lý giao dịch</span>
        <i class="menu-arrow"></i>
      </a>

      <div class="collapse" id="transactions">

        <ul class="nav flex-column sub-menu" id="contribution-management" hidden>
          <li class="nav-item">
            <a class="nav-link" href="contribution-management.html">Quản lý đóng góp</a>
          </li>
        </ul>

        <ul class="nav flex-column sub-menu" id="contribution" hidden>
          <li class="nav-item">
            <a class="nav-link" href="transaction-contribute.html">Đóng góp quỹ</a>
          </li>
        </ul>

        <ul class="nav flex-column sub-menu" id="withdrawal-management" hidden>
          <li class="nav-item">
            <a class="nav-link" href="withdrawal-management.html">Quản lý rút quỹ</a>
          </li>
        </ul>

        <ul class="nav flex-column sub-menu" id="withdrawal" hidden>
          <li class="nav-item">
            <a class="nav-link" href="transaction-withdraw.html">Rút quỹ</a>
          </li>
        </ul>

      </div>
      
    </li>

    <!-- QUẢN LÝ THANH TOÁN -->
    <li class="nav-item" id="payment" hidden>
      <a class="nav-link" data-toggle="collapse" href="#payments" aria-expanded="false" aria-controls="payments" >
        <i class="mdi mdi-square-inc-cash menu-icon"></i>
        <span class="menu-title">Quản lý thanh toán</span>
        <i class="menu-arrow"></i>
      </a>

      <div class="collapse" id="payments">
       
        <ul class="nav flex-column sub-menu" id="payment-management" hidden>
          <li class="nav-item">
            <a class="nav-link" href="payment-management.html">Quản lý đề nghị</a>
          </li>
        </ul>

        <ul class="nav flex-column sub-menu" id="payment-request" hidden>
          <li class="nav-item">
            <a class="nav-link" href="payment-request.html">Đề nghị thanh toán</a>
          </li>
        </ul>

        <ul class="nav flex-column sub-menu" id="estimate-payment" hidden>
          <li class="nav-item">
            <a class="nav-link" href="">Thanh toán dự trù</a>
          </li>
        </ul>

      </div>
      
    </li>

    <!-- DỰ TRÙ KINH PHÍ -->
    <li class="nav-item" id="budget-estimate">
      <a class="nav-link" href="budget-estimate.html">
        <i class="icon-paper menu-icon"></i>
        <span class="menu-title">Dự trù kinh phí</span>
      </a>
    </li>

    <!-- QUẢN LÝ TÀI KHOẢN -->
    <li class="nav-item" id="account-management" hidden>
      <a class="nav-link" href="account-management.html">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">Quản lý tài khoản</span>
      </a>
    </li>

  </ul>
</nav>

<script type="module" src="/js/pages/sidebar.js"></script>