  /* @import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"); */

  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .table,
  p {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
  }

  .btn,
  a {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* CSS để ẩn cột 'luuy' */
  /* .hide-column {
    display: none;
  }

  /* CSS để thay đổi màu cả dòng nếu 'luuy' là 1 */
  /* .xacnhan {
    background-color: #86b8db !important;
  } */

  /* .luuy-1 {
    background-color: #f19c9c !important;
  }

  .luuy-2 {
    background-color: #a6f19c !important;
  } */ 

  /* .dataTables_paginate{
    font-size: 1rem;
    line-height: 14px;
  } */
/* 
  .custom-paginate {
    padding: 8px 12px !important
  }

  #fund-table_paginate{
    padding-top: 1px;
    margin-top: 5px;
  } */


  td.wrap {
    white-space: normal; /* Cho phép nội dung xuống dòng */
    word-wrap: break-word !important; /* Ngắt dòng khi từ dài */
  }

/* Tăng kích thước cho checkbox */
.form-check-input {
  width: 13px;
  height: 13px;
  transform: scale(1.5); /* Phóng to checkbox */
  margin-right: 10px; /* Khoảng cách giữa checkbox và label */
}

/* Khi checkbox, radio chưa được chọn */
input[type="checkbox"] {
  accent-color: #4B49AC; /* Thay đổi màu dấu tích */
}
input[type="radio"] {
  accent-color: #4B49AC; /* Thay đổi màu dấu tích */
}

.col-form-label {
  padding-top: calc(0.875rem + 0.5px) !important;

}

/* Chỉnh sửa kiểu dropdown */
.dataTables_length label {
  display: flex;
  align-items: center;
}
.dataTables_length select {
  margin: 0 5px;
  min-width: 40px !important;
  height: 30px !important; /* Giảm kích thước chiều rộng của dropdown */
  padding: 2px 5px; /* Điều chỉnh khoảng cách padding bên trong dropdown */
  font-size: 14px; /* Điều chỉnh kích thước font chữ */
  color: black; /* Màu chữ đen trong dropdown */
  background-color: white; /* Màu nền trắng */
}
.dataTables_length label::before {
  margin-right: 5px;
}
.dataTables_length label::after {
  margin-left: 5px;
}

