<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Dashboard | Fund Management</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/feather/feather.css" />
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="/css/vertical-layout-light/custom.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css"/>
    
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/vertical-layout-light/style.css" />
    <!-- endinject -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="shortcut icon" href="images/favicon-vnpt.ico" />
    <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <div id="navbar"></div>
      <script>
        $('#navbar').load('/partials/_navbar.html');
      </script>
      <!-- partial -->

      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <!-- <div id="setting-panel"></div>
        <script>
          $("#setting-panel").load("partials/_settings-panel.html");
        </script> -->
        <!-- partial -->

        <!-- partial:partials/_sidebar.html -->
        <div id="sidebar"></div>
        <script>
          $("#sidebar").load("/partials/_sidebar.html");
        </script>
        <!-- partial -->

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12 grid-margin transparent">
                <div class="row">
                  <div id="income" class="col-md-3 mb-4 stretch-card transparent">
                    <div class="card card-tale" style="background: #4DB6AC;">
                      <div class="card-body">
                        <p class="mb-4" style="font-size: 18px; font-weight: bold;">Tổng đóng góp</p>
                        <p class="fs-30 mb-4" id="total-income"></p>
                        <p id="total-contribute" style="text-align: right; font-size: 16px; font-weight: bold;"></p> 
                      </div>
                    </div>
                  </div>

                  <div id="expenditure" class="col-md-3 mb-4 stretch-card transparent" hidden>
                    <div class="card card-tale" style="background: #FFE082;">
                      <div class="card-body">
                        <p class="mb-4" style="font-size: 18px; font-weight: bold;">Tổng rút quỹ</p>
                        <p class="fs-30 mb-4" id="total-expenditure"></p>
                        <p id="total-withdraw" style="text-align: right; font-size: 16px; font-weight: bold;"></p>
                      </div>
                    </div>
                  </div>
                  <div id="payments" class="col-md-3 mb-4 stretch-card transparent">
                    <div class="card card-light-danger" >
                      <div class="card-body">
                        <p class="mb-4" style="font-size: 18px; font-weight: bold;">Tổng thanh toán</p>
                        <p class="fs-30 mb-4" id="total-payment"></p>
                        <p id="total-payment-request" style="text-align: right; font-size: 16px; font-weight: bold;" ></p>
                      </div>
                    </div>
                  </div>
                  <div id="balance" class="col-md-3 mb-4 stretch-card transparent" hidden>
                    <div class="card card-tale">
                      <div class="card-body">
                        <p class="mb-4" style="font-size: 18px; font-weight: bold;">Tồn quỹ</p>
                        <p class="fs-30 mb-2" id="total-balance"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <p class="card-title">Biểu đồ tổng quan</p>
                  <a id="link" href="fund-report.html" class="text-info" hidden>Chi tiết</a>
                </div>
                <p id="fund-description" class="font-weight-500"></p>
                <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
                <canvas id="sales-chart"></canvas>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-md-12 grid-margin stretch-card">
                  <div class="card position-relative">
                      <div class="card-body">
                          <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
                              <div class="carousel-inner"></div>
                              <a class="carousel-control-prev" href="#detailedReports" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#detailedReports" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          

          </div>
          
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <div id="footer"></div>
            <script>
              $('#footer').load("/partials/_footer.html");
            </script>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="vendors/chart.js/Chart.min.js"></script>
    <script src="vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/template.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script type="module" src="/js/pages/dashboard.js"></script>
    <script src="/js/pages/services/refresh-token.js"></script>
    <script src="js/Chart.roundedBarCharts.js"></script>
    <!-- End custom js for this page-->
  </body>
</html>
